[package]
name = "git-remote-utils"
version = "0.1.0"
edition = "2021"
resolver = "2"
authors = ["gifnksm <makoto.nksm+github@gmail.com>"]
description = "Git utilities for remote login environment"
repository = "https://github.com/gifnksm/git-remote-utils"
license = "MIT or Apache-2.0"

[dependencies]
async-trait = "0.1.56"
bytes = { version = "1.1.0", features = ["serde"] }
clap = { version = "3.2.11", features = ["derive", "env"] }
color-eyre = "0.6.2"
derive_more = { version = "0.99.17", default-features = false, features = ["from"] }
futures = { version = "0.3.21", default-features = false, features = ["std", "async-await"] }
serde = { version = "1.0.139", features = ["derive", "rc"] }
thiserror = "1.0.31"
tokio = { version = "1.20.0", features = ["macros", "net", "rt-multi-thread", "process", "io-util"] }
tokio-serde = { version = "0.8.0", features = ["cbor"] }
tokio-stream = { version = "0.1.9", features = [] }
tokio-util = { version = "0.7.3", features = ["codec"] }
tracing = "0.1.35"
tracing-subscriber = "0.3.14"
